.request-section {
  margin: auto;
  overflow-y: scroll;
  height: 77vh;
  margin-top: 30px;
}

::-webkit-scrollbar {
  background-color: white;
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgb(233, 233, 233);
  border: 3px solid white;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background: #b0bcdb;
}

@media screen and (min-width: 1000px) {
  .request-section {
    margin-left: 130px;
  }
}

@media screen and (min-width: 1600px) {
  .request-section {
    margin: 30px auto 0px auto;
  }
}
