.navbar {
  position: fixed;
  height: 100vh;
  left: -40px;
  width: 250px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links {
  line-height: 25px;
  vertical-align: middle;
  font-size: 15px;
  font-weight: light;
  margin: 15px 0;
  color: rgb(122, 127, 197);
  text-decoration: none;

  transition: margin-left 0.1s;
}

.nav-links:hover {
  margin-left: 10px;
  color: rgb(219, 114, 114);
}

.nav-login:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .navbar {
    visibility: hidden;
  }
}
