.artwork {
  background: center solid;
  background-repeat: no-repeat;
  width: 23vw;
  background-size: 25vw;
}

.artwork-row {
  display: flex;
  width: 47vw;
  padding-top: 3vw;
  justify-content: space-between;
  align-items: center;
  margin-left: 15vw;
}

.artwork-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.artwork-container:hover {
  cursor: pointer;
}

.artwork-hover {
  position: absolute;
  width: 20vw;
  height: 20vw;
  background: rgb(255, 255, 255);

  transition: opacity 0.3s ease-in-out;
}

.regular-font {
  position: absolute;
  font-size: 3vw;
  background: linear-gradient(
    110.69deg,
    #ffa8a8 -1.99%,
    #616a8b 102.27%,
    #919cc2 102.27%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  transition: opacity 0.3s;
}
